#contenedor {
  display: block;
  width: 98%;
  border-radius: 20px;
  background-color: var(--primaryColor);
}

#product-img {
  border-radius: 20px;
  width: 150px;
  height: 150px;
  margin: 20px;
}

.contenedor-item {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

#carrito {
  margin: 60px 0 60px 0;
  padding: 50px;
  color: white;
  font-size: 30px;
  width: 60%;
  border-radius: 20px;
  background-color: var(--background-color);
  box-shadow: 10px 10px 20px var(--tertiaryColor),
    -10px -10px 20px var(--tertiaryColor);
}

thead {
  text-align: center;
}

td {
  text-align: center;
}

#h1-tot {
  text-align: right;
  margin-right: 20%;
}

#total {
  background-color: white;
  border-radius: 20px;
  color: var(--background-color);
}

#deleteall:hover {
  background-color: red;
  color: white;
}

.botonesCart {
  margin: 0 0 3rem 0;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 0 auto;
}

.botoncart {
  display: flex;
  justify-content: center;
  width: 20%;
  color: var(--background-color);
  font-size: 22px;
}

#arrowcart {
  top: 180px;
  left: 60px;
}

#carrito > h3 {
  text-align: center;
}
