#contenedor {
  display: block;
  width: 98%;
  border-radius: 20px;
  background-color: var(--primaryColor);
}

#product-img {
  border-radius: 20px;
  width: 150px;
  height: 150px;
  margin: 20px;
}

.contenedor-item {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

#carrito {
  margin: 60px 0;
  color: white;
  font-size: 30px;
  width: 60%;
}

thead {
  text-align: center;
}

td {
  text-align: center;
}

#h1-tot {
  text-align: right;
  margin-right: 20%;
}

#total {
  background-color: var(--tertiaryColor);
  border-radius: 20px;
  color: var(--primaryColor);
}
