#main-article{
    margin-top: 25px;
    display: flex;
    background-color: var(--backgound-color);
}

#imagen{
    margin:5% 0 5% 0;
    display: flex;
    justify-content: flex-start;
    margin-right: 0;
}

#descripcion {
    margin-top: 5%;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--primaryColor);
    width: 30%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 500px;
    color: white;
    font-size: 18px;
   
  }
  

#imagen > img {
    width: 500px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#botones{
    margin-top: 10px;
    display: inline-flex;
    width: 100%;
}

#main-article > #descripcion > #botones .button1 {
    margin: 0 auto;
    width: 40%;
}

#main-article > #descripcion > .input-div > form > select {
    height: 2rem;
    width: 80%;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 18px;
}