main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    width: 300px;
    margin: 1rem;
    background-color: var(--blackColor);
    border-radius: 10px;
    box-shadow: 0 6px 8px rgba(204, 192, 192, 0.2);
    position: relative;
    overflow: hidden;
    transition: .4s ease-in-out;

}

.product:hover {
    transform: scale(1.03);
    cursor: pointer;
    box-shadow: 0 6px 50px rgba(255, 255, 255, 0.2);
}

.product img {
    width: 100%;
}

.product-info {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 1rem;
    letter-spacing: 0.5px;
    
}

.product-info h3 {
    margin-top: 0;
    font-size: 25px;
}

.product-info span {
    background-color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold; 
}

.overview {
    background-color: var(--primaryColor);
    padding: 1rem;
    max-height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform .2s ease-in;
    font-size: 25px;
}

.product:hover .overview {
    transform: translateY(5%);
} 