@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primaryColor: #4b9de0;
    --secondaryColor: #2196f3;
    --tertiaryColor: #9bd1fd;
    --cuaternaryColor: #84c1f3;
    --blackColor: #111010;
    --background-color: #2e3436;
    background-color: #2e3436;
    font-family: "Onest Variable", sans-serif;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bx {
    color: white;
    cursor: pointer;
}
