@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primaryColor: #ebe6e0;
    --secondaryColor: #4c7766;
    --tertiaryColor: #1c1f1d;
    background-image: url("./images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
    font-family: "Onest Variable", sans-serif;
    font-weight: bold;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
