:root {
    --primaryColor: #e5c40c;
    --secondaryColor: #e2deb8;
    --tertiaryColor: #d9ac24;
    --cuaternaryColor: #e9ed0f;
    --blackColor:#111010;
    background-color: #111010;
    font-family: 'Roboto';
  }

code {
  font-family:'Roboto';
}
